@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {   
  /* Typography */
  --textXJumbo : 24px;
  --textJumbo : 20px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 30px;
  --roundedXLG : 24px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 12px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Table column min width */
  --tcolMinXSM : 60px;
  --tcolMinSM : 120px;
  --tcolMinMD : 140px;
  --tcolMinLG : 180px;
  --tcolMinJumbo : 240px;
  --tcolMinHuge : 360px;

  /* Color Pallete */
  --successColor: #46dca2;
  --secondarySuccessColor: #2cc389;  
  --dangerColor: #f55d86;
  --secondaryDangerColor: #d94b6e;   
  --warningColor: #FFC352;
  --secondaryWarningColor: #e0a840;  
  --infoColor: #00b8ff;
  --secondaryInfoColor: #0095cc;    
  --primaryColor: #2d94ff;
  --secondaryPrimaryColor: #1f6fd1;
  --darkColor : #232323;
  --whiteColor : #f6fbff;
  --greyColor : #656565;
  --shadowColor : #f2f2f2;
}

/* Background */
.bg-primary {
  background: var(--primaryColor) !important;
}
.bg-info {
  background: var(--infoColor) !important;
}
.bg-success {
  background: var(--successColor) !important;
}
.bg-warning {
  background: var(--warningColor) !important;
}
.bg-danger {
  background: var(--dangerColor) !important;
}
nav {
  background: var(--darkColor);
}
.nav-link {
  color: var(--whiteColor);
  font-weight: 600;
  border: 1.75px solid transparent;
}
.nav-link:hover {
  border: 1.5px solid var(--darkColor);
}
button, .nav-link {
  border-radius: var(--roundedMD);
  cursor: pointer;
  padding: var(--spaceMD) var(--spaceLG) !important;
}
.btn-link {
  color: var(--successBG); 
  font-weight: 500;
}

.container, .swal2-popup, .popover, .plate-number, .chip {
  border: 2px solid var(--darkColor) !important;
}
.plate-number {
  background:var(--warningColor) !important; 
  z-index: 998;
}
.chip-mini {
  font-size:var(--textSM); 
  border-radius: var(--roundedLG);
  color: var(--whiteColor);
  font-weight: 600;
  margin-inline: var(--spaceXXSM);
}
.chip, .plate-number, .chip-mini {
  padding: var(--spaceMini) var(--spaceSM) !important;
}
.chip, .plate-number {
  font-weight: bold;
  margin-inline: var(--spaceSM);
  font-size:var(--textMD); 
  color: var(--darkColor);
}

/* Container */
.container, .swal2-popup, .plate-number {
  background: var(--whiteColor);
}

/* Container & Button & Input */
/* Container */
.container, .swal2-popup, .plate-number, button, .chip {
  border-bottom: var(--spaceXXSM) solid var(--darkColor) !important;
  padding: var(--spaceXLG);
  position: relative;
  margin-inline: 0;
}
.container, .swal2-popup, .plate-number, button {
  margin-bottom: var(--spaceLG);
  background: var(--whiteColor);
}
.container {
  width: 100%;
}
button, .container, .plate-number, .chip, .swal2-popup, .plate-number {
  border-radius: var(--roundedSM) !important;
}
label {
  font-weight: 500;
}

button {
  color: var(--whiteColor) !important;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: var(--spaceSM) var(--spaceMD);
  font-weight: 500;
}

button.btn-primary, .gm-control-active{
  background: var(--primaryColor) !important;
  border-bottom: var(--spaceXXSM) solid var(--secondaryPrimaryColor) !important;
}
button.btn-success{
  background: var(--successColor) !important;
  border-bottom: var(--spaceXXSM) solid var(--secondarySuccessColor) !important;
}
button.btn-danger{
  background: var(--dangerColor) !important;
  border-bottom: var(--spaceXXSM) solid var(--secondaryDangerColor) !important;
}
button.btn-warning{
  background: var(--warningColor) !important;
  border-bottom: var(--spaceXXSM) solid var(--secondaryWarningColor) !important;
}
button, .container, .sidebar .nav-link, .hover-grow, .plate-number, .chip, .bordered, .chip-mini {
  -webkit-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  transition: all 0.4s !important;
}
button:hover, .hover-grow:hover {
  transform: scale(1.025);
}
.modal-content, .swal2-popup, .popover, button:hover, .container-landing {
  box-shadow: rgba(0, 0, 0, 0.2) 1.975px 1.975px 2.8px;
}

/* Table */
table {
  border-collapse: collapse;   
  width: 100%;
  margin-top: var(--spaceXMD);
  border: 1.75px solid var(--darkColor) !important;
}
th, td {
  text-align: center;         
  vertical-align: middle;    
  border: 1.75px solid var(--darkColor) !important; 
}
thead th {
  text-align: center;
  background: var(--primaryColor) !important;
  color: var(--whiteColor);
  letter-spacing: 0.5px;
  font-weight: 600;
}
table tbody p {
  font-size: var(--textXMD);
}

/* Typography */
label, input, textarea, select {
  margin-bottom: var(--spaceMD);
}

/* Navbar */
.menu-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  padding: var(--spaceXMD) !important;
  border-radius: 50%;
  background: var(--darkColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  border: 1.75px solid var(--whiteColor);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none !important;
  }
}
.menu-toggle.open {
  background: var(--dangerBG);
  transform: rotate(90deg);
}
.mobile-menu {
  position: fixed;
  top: 4.5rem; 
  right: 1rem;
  left: 1rem;
  background-color: var(--darkColor);
  border-radius: 1rem;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none !important;
  }
}

/* Typography */
h1 {
  font-weight: 900;
  font-size: var(--textXJumbo);
  letter-spacing: 5px;
}
h2 {
  font-size: var(--textJumbo);
  letter-spacing: 3.5px;
}
h3 {
  font-size: var(--textXLG);
  letter-spacing: 2px;
}
h4 {
  font-size: var(--textLG);
  letter-spacing: 1px;
}
h1, h2 {
  text-transform: uppercase;
  line-height: 100%;
}
h2, h3, h4 {
  font-weight: 600;
}
p {
  font-size: var(--textMD);
}